.text-stuff{
	display: flex;
	flex-direction: column;
}
.textwrapper{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.namespace-container{
	display: flex;
	flex-direction: row;
}

@media screen and (max-width: 500px){
	.textwrapper{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		font-size: medium;
	}
	.namespace-container{
		flex-direction: row;
	}
	.text-stuff{
		justify-content: space-between;
		align-items: center;
	}

}
