.text-stuff{
	display: flex;
	flex-direction: column;
}
.textwrapper{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media screen and (max-width: 480px){
	.textwrapper{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}

}
