.text-stuff{
	display: flex;
	flex-direction: column;
}

.textwrapper{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	font-size: 20px;
	
}

.namespace-container{
	display: flex;
	flex-direction: row;
	width: 100%;
}


@media screen and (max-width: 500px){
	.textwrapper{
		display: flex;
		flex-direction: row;
		align-items: center;
		font-size: medium;
	}

	.text-stuff{
		align-items: center;
	}

}
