.characterWrap{
	display: flex;
	background-color: #4F4E56;
	flex-direction: column;
	height: auto;
	width: 95%;
	padding: 10px;
	border-radius: 1em;
}

.content{
	display: flex;
	flex-direction: column;
	font-size: medium;
	width: 100%;
}

p{
	margin: 0;
}

.playercard{
	border-bottom: 1px solid black;
}

.namespace{
	display: flex;
	margin: 5px;
	flex-direction: column;
}

.balls{
	display: flex;
}

.raid{
	width: 100%;
}

.mythicplus{
	width: 100%;
}

.arena{
	width: 100%;
}

.player-tab-container{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	background-color: #016392;
	font-size: 25px;
}

.character-tab{
	cursor: pointer;
}

@media screen and (max-width: 500px){
	.characterWrap{
		flex-direction: column;
		border-radius: 0;
	}

	.namespace{
		margin: 0;
	}

	.thumbnail{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.content{
		align-items: flex-start;
	}

	.raid,
	.mythicplus,
	.arena{
		width: 93%;
	}

	p{
		text-align: center;
	}

	.playercard{
		justify-content: center;
	}

	.player-tab-container{
		font-size: medium;

	}
}
