.characterWrap{
	display: flex;
	background-color: #4F4E56;
	flex-direction: column;
	height: auto;
	min-height: 884px;
	width: 100%;
	padding: 10px;
	border-radius: 1em;
}

.content{
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: space-evenly;
}

p{
	margin: 0;
}

.playercard{
	border-bottom: 1px solid black;
}

.namespace{
	display: flex;
	margin: 5px;
	flex-direction: column;
}

.raid{
	width: 40%;
}

.mythicplus{
	width: 40%;
}

.arena{
	width: 40%;
}
