.character{
	display: flex;
	flex-direction: row;
}

a{
	text-decoration: none;
}

.wrapper{
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	margin: 5px;
}

.searchblock{
	display: flex;
	flex-direction: column;
	width: 13%	;
	font-size: 20px;
}

.namesearch{
	height: 25px;
	width: 96%;
	font-size: 25px;
}

.nameslist{
	width: 100%;
	background-color: grey;
	transition: background-color 5s;
	opacity: 90%;
}

.name{
	color: black;
	background-color: grey;
}
.name:hover{
	opacity: 20%;
	cursor: pointer;
	background-color: black;
	color: white;
}


.characterview{
	width: 75%;
}


@media screen and (max-width: 500px){
	.wrapper{
		flex-direction: column;
	}
	.characterview{
		position: relative;
		width: 100%;
		top: 75px;
	}

	.searchblock{
		position: absolute;
		top: 50px;
		width: 100%;
		z-index: 2;
		font-size: 25px;
	}

}
