.mythicwrapper{
	display: flex;
	flex-direction: column;
	height: auto;
	background-color: black;
	margin-bottom: 5px;
	padding: 5px;
}

.dungeonbasic{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.mythiciconwrap{
	display: flex;
	flex-direction: row;
}

.playercard{
	display: flex;
}

.rundetails{
	display: flex;
	align-self: center;
	justify-self: center;
}

.headwrap{
	display: flex;
	justify-content: space-between;
	font-size: 25px;
}
.ratingfield{
	width: 25%;
	display: flex;
	flex-direction: column;
}

.vault-stats{
	width: 40%;
}

@media screen and (max-width: 500px){
	.headwrap{
		flex-direction: row;
		align-items: center;
		width: 100%;
		font-size: medium;
	}

	.mythicwrapper{
		align-items: center;
		width: 96%;
	}

	.ratingfield{
		width: 10%;
		display: flex;
		flex-direction: row;
		/* justify-content: space-between; */
	}
	.singlerunwrap{
		flex-direction: column;
		align-items: center;
		width: 96%;
	}
}
