body{
margin: 0;
}

.mythicwrapper{
	display: flex;
	flex-direction: column;
	height: auto;
	background-color: black;
	margin-bottom: 5px;
	padding: 5px;
}

.dungeonbasic{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.mythiciconwrap{
	display: flex;
	flex-direction: row;
}

.playercard{
	display: flex;
}

.rundetails{
	display: flex;
	align-self: center;
	justify-self: center;
}

.headwrap{
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: row;
	font-size: 25px;
}
.ratingfield{
	width: 10%;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.vault-stats{
	height: 20%;
}

.singlerunwrap{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-left: 0;
	margin: 5px;
}




@media screen and (max-width: 500px){
	.headwrap{
		gap: 10px;
		font-size: medium;
		flex-direction: column;
		margin-bottom: 20px;
	}
	.vault-stats{
		width: 100%;
	}

	.mythicwrapper{
		align-items: center;
	}

	.ratingfield{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	.singlerunwrap{
		width: 96%;
	}
}
