.mplus-wrapper{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	border: 3px solid gray;
}

.deets{
	display: flex;
	justify-content: space-between;
}
.dungeon-details{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.dungeon-name{
	display: flex;
	align-items: center;
}

@media screen and (max-width: 480px){
	.mplus-wrapper{
		flex-direction: row;
		width: 100%;
		justify-content: space-between;
	}
	.dungeon-details{
		flex-direction: row;
		align-items: space-between;
		font-size: medium;
	}
	.mythiciconwrap{
		display: flex;
		flex-direction: row;
		scale: 70%;
	}

}
