.mplus-wrapper{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	border: 3px solid gray;
	/* background-color: gray; */
	width: 100%;
}

.deets{
	display: flex;
	justify-content: space-between;
}
.dungeon-details{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	font-size: 20px;
}

.dungeon-name{
	display: flex;
	align-items: center;
	width: 200%;
}

.mythiciconwrap{
	display: flex;
	justify-content: flex-end;
	width: 30%;
	gap: 5px;
}

.infowrap{
	width: 30%;
}

@media screen and (max-width: 480px){
	.mplus-wrapper{
		flex-direction: row;
		width: 100%;
		justify-content: space-between;
	}
	.dungeon-details{
		flex-direction: row;
		font-size: medium;
	}
	.mythiciconwrap{
		display: flex;
		flex-direction: row;
		scale: 70%;
	}

}
