.itemWrapper{
	display: flex;
	flex-direction: column;
	width:30%; 
}

.affixWrapper{
	display: flex;
	justify-content: space-evenly;
}

.description-box{
	border-top: 1px solid white;
}

.butt{
	display: flex;
	flex-direction: row;
}
