.affixWrapper{
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	width: 100vw;
}
.title{
	text-align: center;
	font-size: 25px;
}



@media screen and (max-width: 500px){
	.title{
		font-size: large;
	}



}
