

.bracketwrapper{
	background-color: black;
	padding: 10px;
	height: 100%;
	font-size: 20px;
}

.bracket{
	display: flex;
	justify-content: space-between;
}

.match-stats{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


@media screen and (max-width: 500px){
	.bracketwrapper{
		font-size: medium;
	}

}
